main {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(73, 139, 227);
}

input.form-control.btn {
  background-color: rgb(73, 139, 227);
  color: #fff;
}

.btn-primary {
  background-color: rgb(73, 139, 227);
  color: #fff;
}

nav.navbar-findcond {
  background: #3d2023;
  border-color: #ccc;
  box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a {
  color: #f2cd7b;
}

nav.navbar-findcond ul.navbar-nav a {
  color: #f2cd7b;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #3d2023;
}

nav.navbar-findcond ul.navbar-nav a:hover, nav.navbar-findcond ul.navbar-nav a:visited, nav.navbar-findcond ul.navbar-nav a:focus, nav.navbar-findcond ul.navbar-nav a:active {
  background: #3d2023;
}

nav.navbar-findcond ul.navbar-nav a:hover {
  border-color: #f2cd7b;
}

nav.navbar-findcond li.divider {
  background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
  background: #f2cd7b;
  border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
  background: #999;
}

nav.navbar-findcond button.navbar-toggle>span.icon-bar {
  background: #3d2023;
}

nav.navbar-findcond ul.dropdown-menu {
  border: 0;
  background: #3d2023;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar-findcond ul.dropdown-menu>li>a {
  color: #444;
}

nav.navbar-findcond ul.dropdown-menu>li>a:hover {
  background: #f2cd7b;
  color: #3d2023;
}

nav.navbar-findcond span.badge {
  background: #f2cd7b;
  font-weight: normal;
  font-size: 11px;
  margin: 0 4px;
}

nav.navbar-findcond span.badge.new {
  background: rgba(255, 0, 0, 0.8);
  color: #3d2023;
}

img.solid-black {
  border: 1px solid black;
}

span.orange {
  color: darkorange;
}

div.boxtile {
  height: 35rem;
  background-color: #d69d60;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding-top: 5px;
  margin-top: 10px;
  margin-right:20px;
}

div.boxtile-body {
  padding-top: 5px;
  height: 26.5rem;
  background-color: #f2cb7d;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 108.5%;
  margin-left: -10px;
  margin-top: 10px;
}

.boxtile-body h4 {
  color: #8c332c;
  padding-left:10px;
  padding-right:10px;
}

.boxtile-body p {
  color: white;
}

a.navbar-brand img {
  display: inline;
  padding-right: 2px;
}

h1.index-title {
  color: #3d2023;
}

h3.index-subtitle {
  color: #a35420;
}

div.search-div {
  width: 90%;
  background-color: lightgray;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid darkgray;
  margin:auto;
}

input.search-bar {
  width: 50rem;
  font-size: 22px;
}

h3.search-button {
  display: inline-block;
}

.pantry-item {
  display: inline-block;
}

.pantry-item .label-default {
    font-weight: normal !important;
    background-color: #d69d60;
}

.pantry-item .queried {
  background-color: rgb(73, 139, 227);
}

.pantry-item a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.pantry-item a:hover {
  opacity: 1.0
}

.pantry-item a .remove {
  vertical-align: bottom;
  top: 0;
}

.pantry-item a {
  margin: 0 0 0 .3em;
}

a .glyphicon-white {
  color: #743d43;
  margin-bottom: 2px;
}
