main {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg {
  background-color: #f2cd7b ;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  width: 100%;
}

nav.navbar-findcond {
  background: #3d2023;
  border-color: #ccc;
  box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a {
  color: #d69d60;
}

nav.navbar-findcond ul.navbar-nav a {
  color: #d69d60;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #3d2023;
}

nav.navbar-findcond ul.navbar-nav a:hover, nav.navbar-findcond ul.navbar-nav a:visited, nav.navbar-findcond ul.navbar-nav a:focus, nav.navbar-findcond ul.navbar-nav a:active {
  background: #3d2023;
}

nav.navbar-findcond ul.navbar-nav a:hover {
  border-color: #d69d60;
}

nav.navbar-findcond li.divider {
  background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
  background: #d69d60;
  border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
  background: #999;
}

nav.navbar-findcond button.navbar-toggle>span.icon-bar {
  background: #3d2023;
}

nav.navbar-findcond ul.dropdown-menu {
  border: 0;
  background: #3d2023;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar-findcond ul.dropdown-menu>li>a {
  color: #444;
}

nav.navbar-findcond ul.dropdown-menu>li>a:hover {
  background: #d69d60;
  color: #3d2023;
}

nav.navbar-findcond span.badge {
  background: #d69d60;
  font-weight: normal;
  font-size: 11px;
  margin: 0 4px;
}

nav.navbar-findcond span.badge.new {
  background: rgba(255, 0, 0, 0.8);
  color: #3d2023;
}

img.double-solid {
  border-style: double;
  border: 1px solid darkgray;
}

span.orange {
  color: darkorange;
}
