<% include ../partials/top %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2><%= currentUser.firstName%>'s Dashboard</h2>
      </div>
    </div>
    <hr>
    <% include ../partials/search %>
    <% include ../partials/favorite-cards %>
    <% include ../partials/cards %>
</main>
<% include ../partials/footer %>
