<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="jumbotron ">
          <h1 class="text-center">PANTRY WEASEL</h1>
        </div>

      </div>
    </header>
    <main>
      <% include ../partials/login %>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
