<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="jumbotron ">
          <h1 class="text-center">PANTRY WEASEL</h1>
        </div>

      </div>
    </header>
    <main>
      <% if (error) { %>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 alert alert-danger" align="center">
              <p><%= error.message %></p>
            </div>
        </div>
      <%}%>
      <% include ../partials/login %>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
