<% include ../partials/top %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="index-title">Welcome to Pantry Manager</h1>
        <h3 class="index-subtitle">Making the best use of your ingredients!</h4>
        <br>
        <br>
      </div>
    </div>
    <% include ../partials/search %>
    <br>
    <% include ../partials/cards %>
</main>
<% include ../partials/footer %>
