<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <h2 class="text-center">Pantry Weasel wants you!</h2>
    </header>
    <main>
      <% include ../partials/newUser %>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
